
 <ul>
    <% @my_tweets.each do |tweet| %>
    <li>
      <a href="https://twitter.com/username/status/
      <%=tweet[:id]%>"><%=tweet[:text] %></a>
    <% tweet[:media].each do |media_image| %>
      <img src=" <%= media_image[:media_url] %>"/>
    <% end %>
    </li>
    <% end %>
  </ul>




